 :root {
   --collor1: #FFF2CE;
   --collor2: #68382D;
   --collor3: #7D4E43;
   --collor4: #522E2E;
   --collor5: #FFF2CE;
 }

 body {
   background-color: var(--collor1);
 }

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: montserrat;

 }

 button {
   FONT-SIZE: 1.6VW;
   color: var(--collor3);
   background-color: var(--collor1);
   border: none;
   margin-top: 1vw;
   height: 3vw;
   border-radius: 1vw;
 }

 p {
   font-size: 2vw;
   color: var(--collor1);
   /* margin-left: 3vw; */
   margin-top: 1VW;
 }

 img.search {
   width: 2vw;
   height: 2vw;
   margin-top: 1.4vw;
   margin-left: 1vw;
 }

 p.p2 {
   font-size: 2vw;
   color: var(--collor1);
 }

 .buttons {
   width: 20vw;
 }

 .mail {
   width: 40vw;
   margin-left: 2vw;
   margin-top: 4vw;
 }

 .prof {
   background-color: var(--collor3);
   width: 80vw;
   height: 40vw;
   margin-top: 5vw;
   margin-left: 10vw;
   display: flex;
 }

 .img {
   width: 20vw;
   height: 40vw;
   border-right: solid 0.2vw var(--collor1);
 }

 .block2 {
   width: 20vw;
   border-top: solid 0.2vw var(--collor1);
   height: 10vw;
   text-align: center;

 }

 .block1 {
   width: 16vw;
   height: 26vw;
   border-top: solid 0.2vw var(--collor1);
   text-align: center;
   margin-top: 4vw;
   margin-left: 2vw;
 }

 .p {
   color: var(--collor1);
   font-size: 1.6vw;
   margin-top: 1vw;

 }

 .avatar {
   width: 8vw;
   height: 8vw;
   border-radius: 50vw 50vw 50vw 50vw;
   margin-top: 6vw;
 }

 .button {
   font-size: 1.3vw;
   background-color: var(--collor1);
   color: #522E2E;
   border: none;
   height: 3vw;
   width: 13vw;
   border-radius: 1vw;
   margin-top: 2vw;
   cursor: pointer;
 }

 .modal {
   position: fixed;

   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);

   z-index: 1050;
   opacity: 0;

   -webkit-transition: opacity 200ms ease-in;
   -moz-transition: opacity 200ms ease-in;
   transition: opacity 200ms ease-in;

   pointer-events: none;

   margin: 0;
   padding: 0;
 }


 .modal:target {
   opacity: 1;

   pointer-events: auto;

   overflow-y: auto;

 }


 .modal-dialog {
   position: relative;
   width: auto;
   margin: 10px;
 }

 @media (min-width: 576px) {
   .modal-dialog {
     max-width: 500px;
     margin: 30px auto;

   }
 }


 .modal-content {
   background-color: var(--collor1);
   position: relative;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: #fff;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, .2);
   border-radius: .3rem;
   outline: 0;
   width: 60vw;
   height: 38vw;
   background-color: #FFF2CE;
   margin-left: -16vw;
 }

 @media (min-width: 768px) {
   .modal-content {
     -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
     box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
   }
 }


 .modal-header {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 15px;
   border-bottom: 1px solid #522E2E;
 }

 .modal-title {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 1.5;
   font-size: 1.25rem;
   font-weight: 500;
   text-align: center;
   margin-left: 20vw;
 }

 .modal-title2 {
   margin-top: 0;
   margin-bottom: 0;
   line-height: 1.5;
   font-size: 1.25rem;
   font-weight: 500;
   text-align: center;
   margin-left: 25vw;
 }

 .close {
   float: right;
   font-family: sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1;
   color: #000;
   text-shadow: 0 1px 0 #fff;
   opacity: .5;
   text-decoration: none;
 }


 .close:focus,
 .close:hover {
   color: #000;
   text-decoration: none;
   cursor: pointer;
   opacity: .75;
 }


 .modal-body {
   position: relative;
   -webkit-box-flex: 1;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 15px;
   overflow: auto;
 }

 .flex {
   display: flex;
 }

 .inf {
   width: 60vw;
   height: 40vw;
   display: flex;

 }

 .mail-color {
   background-color: var(--collor1);
   width: 27vw;
   height: 20vw;
   border-radius: 1vw;
   margin-top: 1vw;
 }

 .ppp {
   margin-bottom: 23vw;
 }

 .b1 {
   width: 11vw;
   margin-left: 7vw;
 }

 .b2 {
   width: 15vw;
   margin-left: 3vw;
 }

 .b3 {
   width: 17vw;
   margin-left: 1vw;
 }

 label {
   color: var(--collor4);
   font-size: 2.2vw;
   margin-left: 4vw;
 }

 input {
   background-color: #7D4E43;
   color: #FFF2CE;
   width: 21vw;
   height: 3vw;
   border: solid 0.1vw var(--collor1);
   margin-left: 24vw;
   border-radius: 1vw;
   font-size: 1.5vw;
   padding-left: 1vw;
 }

 .in1 {
   margin-left: 19vw;
 }

 .in2 {
   margin-left: 26vw;
 }

 .in3 {
   margin-left: 24.3vw;
 }

 textarea {
   background-color: #7D4E43;
   color: #FFF2CE;
   width: 31vw;
   height: 14vw;
   border: solid 0.1vw var(--collor1);
   margin-left: 4vw;
   border-radius: 1vw;
   font-size: 1.5vw;
   padding-left: 1vw;
 }

 .bb1 {
   font-size: 1.4vw;
   background-color: var(--collor3);
   color: var(--collor1);
   width: 9vw;
   height: 2.5vw;
   margin-left: 4vw;
 }

 .aa {
   position: absolute;
   margin-left: 36vw;
   margin-top: 7vw;
 }

 .aa2 {
   position: absolute;
   margin-left: 35vw;
   background-color: #FFF2CE;
   color: #7D4E43;
   margin-top: 9vw;
 }