* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  background-color: #FFF2CE;
  font-family: 'Montserrat', sans-serif;
}

.avtorizasia {
  background-color: #7D4E43;
  width: 50vw;
  height: 45vw;
  margin-top: 5.5vw;
  margin-left: 25vw;
  border-radius: 5%;
}

label {
  color: #FFF2CE;
  font-size: 2vw;
}

h1 {
  color: #FFF2CE;
  font-size: 3vw;
  margin-left: 28vw;
  padding-top: 1vw;
}

.form {
  display: flex;
  justify-content: space-between;
}

.password {
  width: 40vw;
  height: 3vw;
  border-radius: 25px;
  border: none;
  margin-top: 1vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  color: #522E2E;
  background-color: #FFF2CE;
}

.email {
  width: 40vw;
  height: 3vw;
  border-radius: 25px;
  border: none;
  margin-top: 1vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  color: #FFF2CE;
  background-color: #FFF2CE;
}

.name {
  width: 40vw;
  height: 3vw;
  border-radius: 25px;
  border: none;
  margin-top: 1vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  color: #FFF2CE;
  background-color: #FFF2CE;
}

.confid {
  width: 40vw;
  height: 3vw;
  border-radius: 25px;
  border: none;
  margin-top: 1vw;
  padding-left: 1vw;
  font-size: 1.3vw;
  color: #FFF2CE;
}

form {
  margin-left: 4vw;
  margin-top: 0.5vw;
}

p {
  font-size: 1.5vw;
}

a {
  font-size: 1.2vw;
  color: #FFF2CE;
}

#a {
  color: #846E63;
}

button {
  height: 2.8vw;
  padding: 0.3vw 0.7vw;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.3vw;
  background-color: #FFF2CE;
  color: #522E2E;
}

.pp {
  margin-right: 6.5vw;
  color: #FFF2CE;
}

.header {
  width: auto;
  height: 5vw;
  background-color: #ebdfd6;
  display: flex;
  justify-content: space-between;
}

.img {
  height: 2vw;
  width: 2vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.logo {
  height: 4vw;
  width: 4vw;
  margin-left: 52vw;
  position: absolute;
}

.title {
  font-size: 3vw;
  margin-top: 1vw;
  margin-right: 12vw;
}

.info {
  width: auto;
  height: max-content;
  padding-bottom: 8vw;
  border-bottom: solid 0.2vw #846e63;
}

.but {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 24vw;
  margin-top: 10vw;
}

.inf_book {
  background-color: #846e63;
  border-radius: 0 0 2vw 2vw;
  width: 70vw;
  height: 13vw;

  margin-left: 5vw;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 7vw;
  height: 2vw;
  font-size: 1.3vw;
  color: #443229;
  background-color: #fbf3ee;
  border-radius: 12px;
  border: none;
  margin-right: 2vw;
}

.p {
  color: #fff;
  font-size: 2.8vw;
  margin-left: 24vw;
}

.b {
  position: absolute;
  margin-top: 3vw;
  margin-left: 4vw;
  width: 15vw;
  height: 23vw;
}

.IMGF {
  margin-left: -3vw;
  position: absolute;
  margin-top: -4vw;
}